@font-face {
  font-family: 'Ailerons';
  src: url('../../assets/fonts/Ailerons-Regular.otf') format('opentype');
}

html, body {
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  color: #332F2E;
  filter: saturate(90%);
}

.bg {
  background-image: url(../../assets/images/rps.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
}

.site-container {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: Ailerons, sans-serif;
  font-size: 5.5rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

#player-name {
  background: 0;
  border: 0;
  border-bottom: 1px solid black;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 36.875rem;
  width: 25.125rem;
}

.player p {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.25rem;
  min-height: 1.25rem;
}

ul {
	visibility: hidden;
}

li {
	cursor: pointer;
}

li:hover {
  filter: brightness(150%);
}

#selected {
  visibility: visible !important;
}

.img-div {
  width: 8rem;
}

img {
  width: 100%;
  height: auto;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#add-name {
  margin: 0.5rem;
}

#player-name {
  font-size: 1.25rem;
}

#player-name::placeholder {
  color: #B4296D;
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#name-btn {
  font-size: 1rem;
  color: #fff;
  padding: 0.25rem;
  background-color: #B4296D;
  border-color: #B4296D;
}

#name-btn:hover {
  background-color: #CB385E;
}

#reset-btn {
	visibility: hidden;
  font-size: 1rem;
  color: #fff;
  padding: 0.25rem;
  background-color: #58B2F5;
  border-color: #58B2F5;
}

#reset-btn:hover {
  background-color: #6CC9FA;
}

#chat {
  text-align: left;
  color: #F0F0F1;
  position: absolute;
  bottom: 3rem;
}

#chat-display {
	height: 5rem;
	width: 25rem;
	border: 1px solid #332F2E;
	overflow: scroll;
	display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0;
}

#chat-display p {
  margin: 0.25rem 0.5rem;
}

#chat-form {
	visibility: hidden;
}

#chat-input {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  width: 91%;
  height: 1.3rem;
  color: #F0F0F1;
}

#chat-input::placeholder {
  color: #58B2F5;
}

#chat-btn {
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  color: #fff;
  background-color: #58B2F5;
  border-color: #58B2F5;
  margin-left: 0.16rem;
}

#chat-btn:hover {
  background-color: #6CC9FA;
}

#stat-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: rgba(64, 64, 64, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  font-size: 0.75rem;
  text-shadow: none;
  color: #fff;
}

footer a {
  text-decoration: inherit;
  color: inherit;
}

footer a:hover {
  color: #F8B3FF;
}